{% extends "salle.html" %}

{% block nom %} 
Asnières-sur-seine - Geek Room
{% endblock %}

{% block adresse %} 
Geek Room<br>
39 Rue de Nanterre<br>
92600 Asnières-sur-Seine
{% endblock %}

{% block horaires %} 
Lundi: Fermé / Closed<br>
Mardi: Fermé / Closed<br>
Mercredi: Fermé / Closed<br>
Jeudi: Fermé / Closed<br>
Vendredi: Fermé / Closed<br>
Samedi: 14:00 - 18:00<br>
Dimanche: Fermé / Closed
{% endblock %}

{% block quickprice %} 
Freeplay<br>
1 Joueur = 18 Euros<br>
Espèces
{% endblock %}

{% block map %} 
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBza6HuVZaizTprvYaNY31_6mXaxLmopnU
    &q=Geek+Room+Asnieres+Sur+Seine+France">
</iframe>
{% endblock %}

{% block presentation %} 
Missing information.
{% endblock %}

{% block tarifs %} 
18 Euros l'entrée, parties illimitées.
{% endblock %}

{% block version %} 
Maimai Finale 1.99
{% endblock %}

{% block musiques %} 
N/C
{% endblock %}

{% block langue %} 
N/C
{% endblock %}

{% block online %} 
N/C
{% endblock %}

{% block gants %} 
N/C
{% endblock %}
