{% extends "salle.html" %}

{% block nom %} 
Asnières-sur-seine - Geek Room
{% endblock %}

{% block adresse %} 
Geek Room<br>
39 Rue de Nanterre<br>
92600 Asnières-sur-Seine
{% endblock %}

{% block horaires %} 
Lundi: Fermé / Closed<br>
Mardi: Fermé / Closed<br>
Mercredi: Fermé / Closed<br>
Jeudi: Fermé / Closed<br>
Vendredi: Fermé / Closed<br>
Samedi: 14:00 - 18:00<br>
Dimanche: Fermé / Closed
{% endblock %}

{% block quickprice %} 
Freeplay<br>
1 Joueur = 18 Euros<br>
PROMO JUILLET 2022 = 15 euros au lieu de 18 pour les joueurs de RG
Espèces
{% endblock %}

{% block map %} 
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBza6HuVZaizTprvYaNY31_6mXaxLmopnU
    &q=Geek+Room+Asnieres+Sur+Seine+France">
</iframe>
{% endblock %}

{% block presentation %} 
Une petite salle associative en banlieue Parisienne, avec des bornes rares en France.
{% endblock %}

{% block tarifs %} 
18 Euros l'entrée, parties illimitées.<br>
PROMO JUILLET 2022 = 15 euros au lieu de 18 pour les joueurs de RG
{% endblock %}

{% block version %} 
<p class="fs-6 badge bg-primary">Maimai Finale 1.99</p>
{% endblock %}

{% block musiques %} 
<p class="fs-6 badge bg-success">Catalogue complet</p>
{% endblock %}

{% block langue %} 
<p class="fs-6 badge bg-primary">Anglais / English</p>
{% endblock %}

{% block online %} 
<p class="fs-6 badge bg-danger">Offline</p>
{% endblock %}

{% block gants %} 
<p class="fs-6 badge bg-secondary">Conseillés</p>
{% endblock %}
