{% extends "salle.html" %}

{% block nom %} 
Lille - Atom City
{% endblock %}

{% block adresse %} 
Atom City<br>
113 Rue Barthélémy Delespaul<br>
59000 Lille
{% endblock %}

{% block horaires %} 
Lundi: Fermé / Closed<br>
Mardi: Fermé / Closed<br>
Mercredi: 14:00 - 20:00<br>
Jeudi: Fermé / Closed<br>
Vendredi: 16:00 - 22:00<br>
Samedi: 14:00 - 22:00<br>
Dimanche: 14:00 - 20:00
{% endblock %}

{% block quickprice %} 
Freeplay<br>
1 Joueur = 7 Euros<br>
Espèces
{% endblock %}

{% block map %} 
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBza6HuVZaizTprvYaNY31_6mXaxLmopnU
    &q=Atom+City+Lille+France">
</iframe>
{% endblock %}

{% block presentation %} 
Le point névralgique de la communauté Lilloise !
{% endblock %}

{% block tarifs %} 
1 Jour illimité: 7 Euros<br>
Pass Week-end: 12 Euros<br>
Abonnement 1 mois: 25 Euros<br>
Abonnement 1 an: 250 Euros
{% endblock %}

{% block version %} 
<p class="fs-6 badge bg-primary">Maimai Finale 1.99</p>
{% endblock %}

{% block musiques %} 
<p class="fs-6 badge bg-success">Catalogue complet</p>
{% endblock %}

{% block langue %} 
<p class="fs-6 badge bg-primary">Anglais / English</p>
{% endblock %}

{% block online %} 
<p class="fs-6 badge bg-success">Online</p>
{% endblock %}

{% block gants %} 
<p class="fs-6 badge bg-secondary">Conseillés</p>
{% endblock %}
