{% extends "salle.html" %}

{% block nom %} 
Lyon - Gamespirit
{% endblock %}

{% block adresse %} 
Gamespirit<br>
23 Quai Jean Moulin<br>
69002 Lyon
{% endblock %}

{% block horaires %} 
EN VACANCES DU 01 AU 15 AOÛT 2022 !<br>
Lundi: 11:00 - 13:00, 14:00 - 19:00<br>
Mardi: 11:00 - 13:00, 14:00 - 19:00<br>
Mercredi: 11:00 - 13:00, 14:00 - 19:00<br>
Jeudi: 11:00 - 13:00, 14:00 - 19:00<br>
Vendredi: 11:00 - 13:00, 14:00 - 19:00<br>
Samedi: 11:00 - 13:00, 14:00 - 19:00<br>
Dimanche: Fermé / Closed
{% endblock %}

{% block quickprice %} 
1 Joueur = 50 Centimes<br>
2 Joueurs = 2 x 50 Centimes<br>
Espèces (Monnayeur sur place)
{% endblock %}

{% block map %} 
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBza6HuVZaizTprvYaNY31_6mXaxLmopnU
    &q=Gamespirit+Lyon+France">
</iframe>
{% endblock %}

{% block presentation %} 
GameSpirit, une institution Lyonnaise depuis 2008 !<br>
Niché dans le deuxième arrondissement de Lyon, au bord du Rhône et à deux pas de la station de métro Cordeliers, le magasin spécialisé dans l'arcade et le rétrogaming (et plus récemment les goodies, livres spécialisés, ainsi que les maquettes et cartes grâce notamment à l'ouverture d'une salle de jeu dédiée) vous propose les parties les moins chères de France et d'Europe. Entrez pour l'arcade, et passez des heures à admirer leur collection impressionnante (véridique :D).
{% endblock %}

{% block tarifs %} 
50 Centimes la partie, comptez deux pièces pour deux joueurs.<br>
Espèces uniquement, monnayeur disponible à l'entrée de la partie arcade.
{% endblock %}

{% block version %} 
<p class="fs-6 badge bg-primary">Maimai Finale 1.99</p>
{% endblock %}

{% block musiques %} 
<p class="fs-6 badge bg-success">Catalogue complet</p>
{% endblock %}

{% block langue %} 
<p class="fs-6 badge bg-primary">Anglais / English</p>
{% endblock %}

{% block online %} 
<p class="fs-6 badge bg-danger">Offline</p>
{% endblock %}

{% block gants %} 
<p class="fs-6 badge bg-danger">Obligatoires</p>
{% endblock %}
