{% extends "salle.html" %}

{% block nom %} 
Montpellier - Alphanef
{% endblock %}

{% block adresse %} 
Alphanef<br>
55 Rue de l'Aiguillerie<br>
34000 Montpellier
{% endblock %}

{% block horaires %} 
Lundi: Fermé / Closed<br>
Mardi: 15:00 - 00:30<br>
Mercredi: 15:00 - 00:30<br>
Jeudi: 18:30 - 00:30 - FREEPLAY<br>
Vendredi: 15:00 - 00:30<br>
Samedi: 15:00 - 00:30<br>
Dimanche: 15:00 - 00:30
{% endblock %}

{% block quickprice %} 
1 Jeton = 1 Joueur = 1 Euro<br>
2 Joueurs = 2 x 1 Jeton<br>
Espèces, CB
{% endblock %}

{% block map %} 
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBza6HuVZaizTprvYaNY31_6mXaxLmopnU
    &q=Alphanef+Montpellier+France">
</iframe>
{% endblock %}

{% block presentation %} 
Bienvenue à l'Alphanef !<br>
Au coeur de la vieille ville de Montpellier, l'équipage vous accueille à bord d'un vaisseau étrange ou les lois du temps n'ont (presque) plus cours. Multiples bornes d'origine inconnues, jeux de société et douceurs vous attendent, dont la fameuse "Machine à laver" !
{% endblock %}

{% block tarifs %} 
1 Jeton = 1 Euro<br>
5 jetons achetés = 1 offert<br>
Le Jeudi, soirée Freeplay: 7 Euros l'entrée, parties illimitées !<br>
Espèces, CB
{% endblock %}

{% block version %} 
Maimai Finale 1.99
{% endblock %}

{% block musiques %} 
Catalogue complet
{% endblock %}

{% block langue %} 
Anglais / English
{% endblock %}

{% block online %} 
Offline
{% endblock %}

{% block gants %} 
Fortement conseillés
{% endblock %}