{% extends "salle.html" %}

{% block nom %} 
Nantes - Envie de Japon
{% endblock %}

{% block adresse %} 
Envie de Japon<br>
1 Rue de Strasbourg<br>
44000 Nantes
{% endblock %}

{% block horaires %} 
Lundi: Fermé / Closed<br>
Mardi: 11:30 - 21:30<br>
Mercredi: 11:30 - 21:30<br>
Jeudi: 11:30 - 21:30<br>
Vendredi: 11:30 - 00:00<br>
Samedi: 11:30 - 00:00<br>
Dimanche: Fermé / Closed
{% endblock %}

{% block quickprice %} 
Freeplay<br>
1 Joueur = 5€ la 1ère heure<br>
Espèces, CB
{% endblock %}

{% block map %} 
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBza6HuVZaizTprvYaNY31_6mXaxLmopnU
    &q=Envie+de+Japon+Nantes+France">
</iframe>
{% endblock %}

{% block presentation %} 
Envie de Japon vu par le CM: le point central de la culture Japonaise sur Nantes (encore un lieu à mettre sur ma liste à visiter tiens :D): boutique, salle de loisirs, cours de langues et de dessin... Beaucoup de choses pour passer un bon moment !<br>. Bon a savoir: l'abonnement donne accès à l'ensemble des prestations offertes par la salle: mangas, bornes d'arcade, Just Dance et 2 box karaoké !<br>Known bug: l'écran J2 est victime de bugs graphiques, attention !
{% endblock %}

{% block tarifs %} 
5€ pour 1 heure; 9€ pour 2 heures ; 12€ pour 3 heures ou plus<br>
Forfait Jour: 12€ en semaine, 15€ le samedi et les vacances scolaires<br>
Abonnement 1 mois: 40 Euros<br>
Abonnement 1 an: 420 Euros<br>
Abonnement "couple" 1 an: 620 Euros
{% endblock %}

{% block version %} 
<p class="fs-6 badge bg-primary">Maimai Finale 1.99</p>
{% endblock %}

{% block musiques %} 
<p class="fs-6 badge bg-success">Pas d'informations</p>
{% endblock %}

{% block langue %} 
<p class="fs-6 badge bg-primary">Anglais / English</p>
{% endblock %}

{% block online %} 
<p class="fs-6 badge bg-danger">Offline</p>
{% endblock %}

{% block gants %} 
<p class="fs-6 badge bg-secondary">Conseillés</p>
{% endblock %}
