{% extends "base.html" %}

{% block content %}
<h1>Maimai en une page</h1>

<h2>Maimai, c'est quoi ?</h2>

	<p><strike>C'est une machine à laver géante. </strike> Maimai est un jeu de rythme crée par SEGA, l'entreprise plus forte que toi. La borne comporte deux emplacements de jeu, chacun munis d'un écran principal circulaire, entouré de 8 boutons, ainsi que d'un écran d'informations en hauteur. Il est possible de jouer seul ou à deux en versus ou sync (cependant deux joueurs ne peuvent pas jouer seuls en simultané).</p>

    <p>Le concept est simple: Pendant une partie, plusieurs notes défilent du centre de l'écran vers la bordure extérieure. Le joueur doit taper, maintenir appuyé ou slider sur l'écran tactile ou les boutons en rythme avec la musique, et dépendamment du type de note.</p>

    <div class="row">
        <img src="https://maimai.sega.com/assets/img/play/howto/img_1_pc.png" alt="GP1">
    </div>

    <br>

    <p>La borne est souvent surnommée "Machine à laver" par certains joueurs et opérateurs, de par son aspect imposant et son design appelant le hublot de ladite machine.</p>

<h2>Gameplay</h2>

    <p>Aux dernières nouvelles, l'ensemble des bornes disponibles en France est en Anglais. Malheureusement, le jeu ne prend pas en charge d'autres langues, mais rassurez-vous, il reste simple à prendre en main !</p>

    <p>L'image suivante décrit comment jouer sur les bornes.</p>

    <div class="row">
    <img src="/img/howto1.png" alt="GP2">
    <br>
    <br>
    <br>
    <img src="/img/howto2.png" alt="GP2">
    </div>

    
{% endblock %}