{% extends "base.html" %}

{% block content %}
<h1>Mode online</h1>

<p>
    Certaines bornes sont connectées à un serveur, ce qui apporte plusieurs avantages aux joueurs réguliers.
</p>

<h2>Les bénéfices du serveur</h2>
<ul>
    <li>Sauvegarde des scores</li>
    <li>Sauvegarde des paramètres de jeu</li>
    <li>Sauvegarde des niveaux de personnages</li>
    <li>Personnalisation du profil joueur (photo de profil, nameplate, arrière-plan, succès)</li>
    <li>Disponibilité du profil sur toutes les bornes connectées au même serveur</li>
</ul>

<h2>Les salles connectées</h2>

<h3>Serveur sans nom</h3>
<p>
    Vous pouvez créer un profil sur une des bornes de la liste et le retrouver sur toutes les autres.
</p>
<ul>
    <li>Lille - Atom City</li>
    <li>Montpellier - AlphaNef</li>
    <li>Nantes - Envie de Japon</li>
    <li>Plus à venir...</li>
</ul>

<h2>Comment se connecter au serveur ?</h2>

<p>
    Pour vous connecter, il vous faut être en possession d'une carte "AIME" ou "Amusement IC". Les salles citées ci-dessus peuvent vendre leur propre carte, qui marchera sur l'ensemble des bornes connectées. Nous vous invitons à vous rapprocher du gestionnaire de votre salle locale pour plus d'informations au sujet de l'achat et de l'utilisation d'une carte.
</p>

<p>
    Lors de votre première connexion, touchez la carte sur le lecteur (souvent indiqué par un autocollant AIME / Amusement IC / autocollant aux couleurs de la salle). Vous serez invité à créer votre compte en saisissant un nom d'utilisateur (qui sera affiché à chaque connexion). Sur les salles fonctionnant au crédit, une chanson est offerte lors de la première connexion.
</p>

<p>
    Par la suite, il vous suffira de toucher la carte sur le lecteur au début de votre partie, avant ou après l'insertion d'un crédit. Pensez à le faire avant de passer le timer, sinon vous débuterez une partie en simple invité !
</p>

<p>
    Chaque chanson jouée vous permet d'améliorer votre rating (une valeur à 4 chiffres sous la forme XX.XX). Ce rating agit comme une sorte de "mesure de niveau", plus il est élevé plus vous avez réussi à passer des chansons de haut niveau. Cette valeur peut aussi diminuer dans certaines situations ! Pour désactiver ce comportement, vous pouvez utiliser l'option de bloquage du rating dans les paramètres de jeu avancés.
</p>

<p>
    Lors de vos parties, vous gagnerez des "Fromages". Vous pourrez aussi en accumuler des supplémentaires en complétant les "Finale courses". Ces "Fromages" sont utilisables dans la boutique de customisation qui s'affiche après la dernière chanson pour acheter des éléments de décoration pour votre fiche de personnage.
</p>

{% endblock %}